<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>Create Game</h2>
        <form action="/gold/creategame" method="POST">
            <label for="cname">Name:</label><br>
            <input type="text" id="cname" name="cname" value="John Doe" required><br>
            <label for="gamename">Game name:</label><br>
            <input type="text" id="gamename" name="gamename" value="Family Game" required><br>
            <label for="players">Game name:</label><br>
            <input type="range" min="2" max="8" value="2" name="players" class="players" id="players">
            <label for="psw">*Password:</label><br>
            <input type="text" id="psw" name="psw" value="123"><br><br>
            <input type="submit" value="Submit">
          </form> 
    </body>
</html>