<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <script>
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            function gamestart()
            {
                const uname = getCookie("uname")
                const urlParams = new URLSearchParams(window.location.search);
                const myParam = urlParams.get('code');
                const socket = io().connect();

                var gamescreen = document.getElementById("gamescreen");
                var ctx = gamescreen.getContext("2d");

                socket.on("connect", () => {
                    console.log(socket.id);
                    socket.emit("joingame", code)
                });

                socket.on("userjoined", (data) => {
                    console.log(data)
                })

            }
        </script>
    </head>
    <body onload="gamestart();">
        <canvas id="gamescreen" width="200" height="100" style="border:1px solid #000000;">

        </canvas>
    </body>
</html>