<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <script>
            function gamestart()
            {
                const socket = io().connect();
                socket.on("connect", () => {
                    console.log(socket.id); // ojIckSD2jqNzOqIrAGzL
                })
            }
        </script>
    </head>
    <body onload="gamestart();">
        <canvas id="gamescreen" width="200" height="100" style="border:1px solid #000000;">

        </canvas>
    </body>
</html>