<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <script>
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            function gamestart()
            {
                const uname = getCookie("uname")
                const urlParams = new URLSearchParams(window.location.search);
                const code = urlParams.get('code');
                const socket = io().connect();

                

                var gamescreen = document.getElementById("gamescreen");
                var ctx = gamescreen.getContext("2d");

                function resizeCanvas() {
                    gamescreen.width = window.innerWidth;
                    gamescreen.height = window.innerHeight;

                    draw()
                    
                }
                resizeCanvas();
                
                window.addEventListener('resize', resizeCanvas, false);

                function draw(){
                    const { width, height } = gamescreen.getBoundingClientRect();

                    ctx.fillStyle = "#FF0000";
                    ctx.fillRect(0, 0, width, height);

                    ctx.fillStyle = '#000000';
                    ctx.font = "30px Arial";
                    ctx.textAlign = "center";
                    ctx.fillText("Gold! Waiting for players...", width/2, height/2);
                }

                socket.on("connect", () => {
                    console.log(socket.id);
                    socket.emit("joingame", code)
                });

                socket.on("userjoined", (data) => {
                    console.log(data)
                })

            }
        </script>
        <style>
            html, body {
                margin: 0;
                padding: 0;
                height: 100%;
                overflow: hidden;
            }
        </style>
    </head>
    <body onload="gamestart();">
        <canvas id="gamescreen">

        </canvas>
    </body>
</html>