<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg sticky bg-dark d-inline-block clean-navbar" style="width: 100%;">
        <div class="container-fluid"><a class="navbar-brand logo" href="#" target="_top">Wilson Wang</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#Projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="#Hire">Hire Me</a></li>
                    <li class="nav-item"><a class="nav-link" href="/raw">X</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="typewriter">
      <p id="line1"></p>
      <p id="line2"></p>
    </div>
    <section id = "Main" style="overflow: hidden;background: radial-gradient(rgb(13,50,15), rgb(0,0,0)); min-height: 100vh;">
        <div class="row d-inline-flex d-xl-flex flex-row flex-wrap justify-content-xl-center" style="min-height: 100vh">
            <div class="col d-inline-flex flex-column flex-shrink-1 align-items-center" style="height: 100vh; padding: 0px;">
                <div class="container" style="height: 100%;width: 100%;padding: 0px;">
                    <div class="row" style="height: 50%;margin: 0px;">
                        <div class="col-md-12 d-inline-flex justify-content-center align-items-center align-content-center" style="padding: 0px;">
                          <img class="rounded-circle" data-bss-hover-animate="pulse" width="60%" src="/images/c4c.png">
                        </div>
                    </div>
                    <div class="row" style="height: 50%;margin: 0px;">
                        <div class="col-md-12 d-inline-flex justify-content-center align-items-center align-content-center" style="padding: 0px;">
                          <img class="rounded-circle flex-shrink-1" data-bss-hover-animate="pulse" src="/images/spacebot.png" width="60%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-center d-inline-flex flex-column flex-grow-1 flex-shrink-0 justify-content-center align-items-start align-content-center align-self-center flex-wrap align-items-md-center"><img class="rounded-circle border-dark" data-bss-hover-animate="pulse" src="/images/avatar.png" style="width: 400px;height: 500px;">
                <h4 class="text-monospace" style="color: rgb(255,255,255);padding-top: 10%;">Software Developer | Web Developer</h4>
                <h1 class="text-truncate text-success" data-bss-hover-animate="pulse" style="text-align: center;">Wilson Fengchi Wang</h1>
            </div>
            <div class="col d-inline-flex flex-column flex-shrink-1 align-items-center" style="height: 100vh; padding: 0px;">
                <div class="container" style="height: 100%;width: 100%;padding: 0px;">
                    <div class="row" style="height: 50%;margin: 0px;">
                        <div class="col-md-12 d-inline-flex justify-content-center align-items-center align-content-center" style="padding: 0px;"><img class="rounded-circle" data-bss-hover-animate="pulse" width="60%" src="/images/gold.png"></div>
                    </div>
                    <div class="row" style="height: 50%;margin: 0px;">
                        <div class="col-md-12 d-inline-flex justify-content-center align-items-center align-content-center" style="padding: 0px;"><img class="rounded-circle flex-shrink-1" data-bss-hover-animate="pulse" src="/images/Implement.png" width="60%"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Projects" class="projects-horizontal">
        <div class="intro" style="width: 100%;">
            <h2 class="text-center">Projects </h2>
            <p class="text-center">A listing of my top projects</p>
        </div>
        <div class="row">
            <div class="col-md-4 d-xl-flex justify-content-xl-center"><figure class="snip1527">
  <div class="image"><img src="/images/projects/gold.png" alt="Gold" /></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>GOLD</h3>
    <p>
      The game of lies and decieption, is a spin off the popular game Coup, with characters from the Syndicate Zero universe 
    </p>
  </figcaption>
  <a href="#"></a>
</figure></div>
            <div class="col-md-4 d-xl-flex justify-content-xl-center"><figure class="snip1527">
  <div class="image"><img src="/images/projects/c4c.png" alt="Class4Corona" /></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>Class4Corona</h3>
    <p>
      full-stack web application for simple and free virtual education
    </p>
  </figcaption>
  <a href="#"></a>
</figure></div>
            <div class="col-md-4 d-xl-flex justify-content-xl-center"><figure class="snip1527">
  <div class="image"><img src="/images/projects/spacebot.png" alt="pr-sample23" /></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>SpaceBot</h3>
    <p>
      A realm of the mad god discord bot for the Space travel dungeon discord server.
      <br>Currently managing over 7000 members
    </p>
  </figcaption>
  <a href="#"></a>
</figure></div>
        </div>
        <div class="row">
            <div class="col-md-4 d-xl-flex justify-content-xl-center"><figure class="snip1527">
  <div class="image"><img src="/images/projects/chemtoy.png" alt="pr-sample23" /></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>ChemToy</h3>
    <p>
      Explore organic chemistry in a fun and interactive playground!
    </p>
  </figcaption>
  <a href="#"></a>
</figure></div>
            <div class="col-md-4 d-xl-flex justify-content-xl-center"><figure class="snip1527">
  <div class="image"><img src="/images/projects/syndicatezero.png" alt="pr-sample23" /></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>Syndicate Zero</h3>
    <p>
      My most ambiousious project ever, an online MMO that incoperates the best aspects of my favourite games
    </p>
  </figcaption>
  <a href="#"></a>
</figure></div>
            <div class="col-md-4 d-xl-flex justify-content-xl-center"><figure class="snip1527">
  <div class="image"><img src="/images/projects/Github.png" alt="pr-sample23" /></div>
  <figcaption>
    <div class="date"><span class="day">--</span><span class="month">Feb</span></div>
    <h3>Other Projects</h3>
    <p>
      I've made many more cool projects come check them out at my github!
    </p>
  </figcaption>
  <a href="https://github.com/FengchiW"></a>
</figure></div>
        </div>
    </section>
    <section id="Hire" class="projects-horizontal">
        <div class="intro" style="width: 100%;">
            <h2 class="text-center">Hire Me</h2>
            <p class="text-center">Currently looking for summer internships in web or software development</p>
        </div>
        <div class="text-center mt-4">
          <a href="https://www.linkedin.com/in/fengchi-w-b30a65132/" class="btn btn-xl btn-outline-dark">
             <svg class="svg-inline--fa fa-linkedin-in fa-w-14" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg><!-- <i class="fab fa-linkedin-in"></i> -->
             <h5>Linkedin</h5>
          </a>
          <a href="/resume" class="btn btn-xl btn-outline-dark">
             <svg class="svg-inline--fa fa-file-pdf fa-w-12" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-pdf" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M181.9 256.1c-5-16-4.9-46.9-2-46.9 8.4 0 7.6 36.9 2 46.9zm-1.7 47.2c-7.7 20.2-17.3 43.3-28.4 62.7 18.3-7 39-17.2 62.9-21.9-12.7-9.6-24.9-23.4-34.5-40.8zM86.1 428.1c0 .8 13.2-5.4 34.9-40.2-6.7 6.3-29.1 24.5-34.9 40.2zM248 160h136v328c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V24C0 10.7 10.7 0 24 0h200v136c0 13.2 10.8 24 24 24zm-8 171.8c-20-12.2-33.3-29-42.7-53.8 4.5-18.5 11.6-46.6 6.2-64.2-4.7-29.4-42.4-26.5-47.8-6.8-5 18.3-.4 44.1 8.1 77-11.6 27.6-28.7 64.6-40.8 85.8-.1 0-.1.1-.2.1-27.1 13.9-73.6 44.5-54.5 68 5.6 6.9 16 10 21.5 10 17.9 0 35.7-18 61.1-61.8 25.8-8.5 54.1-19.1 79-23.2 21.7 11.8 47.1 19.5 64 19.5 29.2 0 31.2-32 19.7-43.4-13.9-13.6-54.3-9.7-73.6-7.2zM377 105L279 7c-4.5-4.5-10.6-7-17-7h-6v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-74.1 255.3c4.1-2.7-2.5-11.9-42.8-9 37.1 15.8 42.8 9 42.8 9z"></path></svg><!-- <i class="fas fa-file-pdf"></i> -->
             <h5>Resume</h5>
          </a>
          <a href="https://github.com/FengchiW" class="btn btn-xl btn-outline-dark">
             <svg class="svg-inline--fa fa-github fa-w-16" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="github" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" data-fa-i2svg=""><path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg><!-- <i class="fab fa-github"></i> -->
             <h5>Github</h5>
          </a>
         </div>
    </section>
    <footer id="footerpad">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
                    </ul>
                    <p class="copyright text-muted text-center">Copyright © WilsonfWang 2020</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/js/script.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>