/* DEMO-SPECIFIC STYLES */
body {
  height: 100vh;
  background: black;
  background-image: radial-gradient(green 0%, black 100%);
}

html {
  scroll-behavior: smooth;
}

.typewriter {
  padding-top: 1%;
  padding-left: 1%;
  position: relative;
  display: inline-block;
  margin: 0;
}

.typewriter p{
  text-shadow: 0 0 5px #C8C8C8;
  display: block;
  color: #fff;
  overflow: hidden; 
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

figcaption p {
  color: white !important;
}

figcaption {
  width: 100%;
}